.profile-container {
	width: 100%;
	max-width: 1180px;
	padding: 0 30px;
	margin: 32px auto;
}

.profile-container header {
	display: flex;
	align-items: center;
	margin-bottom: 70px;
}

.profile-container header img {
	height: 64px;
}

.profile-container header a {
	width: 260px;
	margin-left: auto;
	margin-top: 0;
}

.profile-container header button {
	height: 60px;
	width: 60px;
	border-radius: 4px;
	border: 1px solid #dcdce6;
	background: transparent;
	margin-left: 16px;
	transition: border-color 0.2s;
}

.profile-container header button:hover {
	border-color: #999;
}

.profile-container h1 {
	margin-top: 80px;
	margin-bottom: 24px;
}

.boards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 32px;
}

.board-month {
	background-color: #fff;
	width: 100%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.board-month h2 {
	text-align: center;
	font-size: 32px;
	margin-top: 30px;
	text-transform: uppercase;
}

.board-month ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	list-style: none;
	margin: 30px 42px;
}

.board-month ul li {
	flex-direction: column;
	height: 100px;
}

.board-month ul li span {
	float: right;
	transform: translateY(-20px);
	opacity: 0;
	transition: 0.2s;
	cursor: pointer;
}

.board-month ul li:hover span {
	opacity: 1;
	transition: 0.2s;
}

.rotation:before {
	content: "Rot";
	top: 85px;
	right: 10px;
	color: #a8a8b3;
	display: inline;
	position: absolute;
}

.employee-heart,
.employee-heart-rotation {
	margin: 0 auto;
	position: relative;
	width: 100px;
	height: 90px;
}

.employee-heart-rotation:before,
.employee-heart-rotation:after {
	background-color: #f796a7;
}

.employee-heart:before,
.employee-heart:after {
	background-color: #e02041;
}

.employee-heart:before,
.employee-heart:after,
.employee-heart-rotation:before,
.employee-heart-rotation:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.employee-heart:after,
.employee-heart-rotation:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.employee-name,
.employee-name-rotation {
	transform: translateY(-62px);
}

.employee-name {
	color: white;
}
